body {
  background: rgb(231, 171, 121);
 
  font-family: 'Anek Malayalam', sans-serif;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

*{

  font-family: 'Anek Malayalam', sans-serif;
}



header {
  padding: 25px 0 25px 0;
  background: rgb(178, 80, 104);
  overflow: auto;
  border-bottom: 1px solid rgb(187, 81, 81);
}

h1 {
  font-style: italic;
  font-size: 3em;
  color: rgb(231, 222, 221);
  float: left;
  width: 570px;
}

header nav {
  float: right;
  width: 285px;
}

a {
  color: rgb(227, 15, 15);
  text-decoration: none;
  font-weight: bold;
}

header nav a{
  color: #fff;

}

main {
    background: #fff;
    border-radius: 0 5px 5px 5px;;
    padding: 40px;
}

.tabs a span {
    border-radius: 5px 5px 0 0;
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: rgb(184, 172, 95);
    padding: 5px;
}

.tabs a .active {
    background: #eee;
}

main .content {
    padding: 30px 10px 30px 10px;
    border-radius: 0 5px 5px 5px;
    background: rgb(196, 192, 192);
}

h3 {
   
    border-radius: 5px;
    color: rgb(10, 10, 10);;
    background: rgb(255, 250, 250);
    padding: 5px;
    margin: 20px 0 10px 0;
}

h3:first-child {
    margin-top: 0;
}

main .content li {
    border-radius: 5px;
    padding: 3px;
    background: rgb(144, 235, 235);
    margin: 0 0 10px 0;
}

main .content button {
  font-weight: bold;
  padding: 0 3px 0 3px;
  border-radius: 5px;
  background: #ccc;
  cursor: pointer;
  margin-left: 5px;
  font-size: 1.3em;
}

main .content p {
    color: red;
    margin: 30px 0 0 0;
}

main .content p:first-child {
    margin-top: 10px;
}

main .content input {
    font-size: 1.5em;
}



footer {
    border-top: 1px solid #ddd;
    padding: 40px 0 20px 0;
}

footer .contact {
  float: left;
  width: 570px;    
}


footer .contact p:nth-child(2) {
  color: #b33;
  font-style: italic;
}

footer .sitemap {
    float: right;
    width: 285px;
}


footer ul {
    width: 230px;
}

li {
    list-style: none;
}

footer .sitemap .left {
    float: left;
}

footer .sitemap .right {
    float: right;
}